aws_region   = "us-east-1"
project_name = "document-services"
environment  = "prod"
db_password  = "Fk61926114"

image_tag                = "latest"
app_ready                = false
upload_desired_count     = 2
processing_desired_count = 2
retrieval_desired_count  = 2
openai_api_key           = ""
